.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Cinzel', serif;
}
.App-title {
  font-family: 'Cinzel', serif;
  font-size: 100px;
}
.App-intro {
  font-family: 'Cinzel', serif;
}
.App-link {
  color: #61dafb;
}
.footer {
  background-color: #282c34;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}